[Desktop Entry]
Name=WebScreenSaver
Comment=Display a web page as your screenaver
Exec=/usr/libexec/xscreensaver/webscreensaver
TryExec=/usr/libexec/xscreensaver/webscreensaver
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
